<div class="card__container">
  <a href="#" class="card">
    <div class="card-img">
      <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5506/186ddaae-7c4e-4ea2-a186-5b702813ff04.jpg" alt="" width="380px">
    </div>
    <div class="card-moto-name">
      <h3 class="moto-name">ZX-10 2023</h3>
    </div>
    <div class="moto-preco">
      <p>R$ 110.000,00 + frete</p>
    </div>
  </a>

  <a href="#" class="card">
    <div class="card-img">
      <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5498/73f1c4dc-7385-4b44-8e44-ebe70c24e737.jpg" alt="" width="380px">
    </div>
    <div class="card-moto-name">
      <h3 class="moto-name">Z400 SE 2023</h3>
    </div>
    <div class="moto-preco">
      <p>R$ 34.490,00 + frete</p>
    </div>
  </a>

  <a href="#" class="card">
    <div class="card-img">
      <img
        src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5504/2dc12486-e6cb-4f2c-8586-c1e6165a18a8.jpg"
        alt="" width="380px">
    </div>
    <div class="card-moto-name">
      <h3 class="moto-name">Z650 2023 + frete</h3>
    </div>
    <div class="moto-preco">
      <p>R$ 45.990,00</p>
    </div>
  </a>
</div><br>
