<div class="footer">
  <div class="footer-list">
    <ul>
      <li><a href="#">Sobre</a></li>
      <span></span>
      <li><a href="#">Localização</a></li>
      <span></span>
      <li><a href="#">Política de vendas</a></li>
      <span></span>
      <li><a href="#">Solicite Orçamento</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <img src="assets/kawasaki-logo.png" alt="" width="200px">
  </div>
  <div class="footer-copy">
    Copyright © 2023. Todos os direitos reservados.
    <p>Desenvolvido por <a href="https://inaldosilva.netlify.app" target="_blank" style="color: White">Inaldo Silva</a></p><br/>
  </div>
</div>
