<div class="small-card__container">
  <a class="small-card">
    <div class="small-card__img">
      <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5484/b69a4f61-eddf-4570-ba32-2ead1e5e6840.jpg" alt="" width="250px">
    </div>
    <div class="small-card__head">
      <h3>Vulcan S</h3>
    </div>
    <div class="small-card__content">
      <p>49.990,00 + frete</p><br>
      <p>Motor bicilíndrico paraleo de 649 CC.</p>
      <p>Chassi e Suspensão derivados das SPORTIBIKES</p>
    </div>
  </a>

  <a class="small-card">
    <div class="small-card__img">
      <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5485/a1c4b718-b7a0-47de-9638-61072d1e7b3a.jpg" alt="" width="250px">
    </div>
    <div class="small-card__head">
      <h3>Vulcan S Cafe</h3>
    </div>
    <div class="small-card__content">
      <p>R$ 50.990,00 + frete</p><br>
      <p>Válvulas de aceleração dupla.</p>
      <p>Indicador de pilotagem econômica.</p><br>
    </div>
  </a>

  <a class="small-card">
    <div class="small-card__img">
      <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5479/8d4a56f9-1a19-48a4-bbae-15f4d20686a7.jpg" alt="" width="250px">
    </div>
    <div class="small-card__head">
      <h3>VERSYS 1000 GT</h3>
    </div>
    <div class="small-card__content">
      <p>R$ 93.990,00 + frete</p>
      <p>Suspensão de controle eletrônico Kawasaki (KECS)</p>
      <p>Função gerenciamento de curvas Kawasaki (KCMF)</p>
    </div>
  </a>

  <a class="small-card">
    <div class="small-card__img">
      <img src="https://content2.kawasaki.com/ContentStorage/KMB/Products/5470/d6b5f853-fc6d-455d-8eb2-aaf72df71c24.jpg"
        alt="" width="250px">
    </div>
    <div class="small-card__head">
      <h3>VERSYS 650 TOURER</h3>
    </div>
    <div class="small-card__content">
      <p>R$ 58.990,00 + frete</p><br>
      <p>Controle de tração Kawsaki (KTRC)</p>
      <p>Conectividade com o Smartphone.</p><br>
    </div>
  </a>
</div><br>
